@font-face {
    font-family: 'Nastup Basic';
    src: url('Nastup-Basic.eot');
    src: local('Nastup Basic'), local('Nastup-Basic'),
        url('Nastup-Basic.eot?#iefix') format('embedded-opentype'),
        url('Nastup-Basic.woff2') format('woff2'),
        url('Nastup-Basic.woff') format('woff'),
        url('Nastup-Basic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nastup Soft';
    src: url('Nastup-Soft.eot');
    src: local('Nastup Soft'), local('Nastup-Soft'),
        url('Nastup-Soft.eot?#iefix') format('embedded-opentype'),
        url('Nastup-Soft.woff2') format('woff2'),
        url('Nastup-Soft.woff') format('woff'),
        url('Nastup-Soft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

